<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.best.backspringboot.mapper.MemberInquiryMapper">

    <resultMap id="memberInquiryResultMap" type="org.best.backspringboot.entity.MemberInquiry">
        <id     property="memberInquiryId"      column="id"/>
        <result property="memberInquiryName"    column="name"/>
        <result property="memberInquiryPhone"   column="phone"/>
        <result property="memberInquiryTitle"   column="title"/>
        <result property="memberInquiryContent" column="content"/>
        <result property="memberInquiryStatus"  column="status"/>
        <result property="createDate"           column="created_at"/>
        <result property="answeredDate"         column="answered_at"/>
    </resultMap>

    <insert id="insertInquiry" parameterType="org.best.backspringboot.dto.memberInquiry.MemberInquiryRequestDto">
        INSERT INTO member_inquiry (name, phone, title, content)
        VALUES (
                   #{memberInquiryName},
                   #{memberInquiryPhone},
                   #{memberInquiryTitle},
                   #{memberInquiryContent}
               )
    </insert>

    <select id="selectAllInquiry" resultMap="memberInquiryResultMap">
        SELECT *
        FROM member_inquiry
        ORDER BY created_at DESC
    </select>

    <select id="selectInquiryById" parameterType="Long" resultMap="memberInquiryResultMap">
        SELECT *
        FROM member_inquiry
        WHERE id = #{id}
    </select>

</mapper>